<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head">
</head>
<body>
<div th:replace="header :: header"></div>
<div id="content" class="container">
    <h2>Add task</h2>
    <div class="form-group">
        <form action="#" th:action="@{/task}" th:object="${task}" method="post">
            <label for="dsc">Write your task:</label>
            <div class="row">
                <div class="col-md-4">
                    <input id="dsc" class="form-control" type="text" th:field="*{description}"/>
                </div>
                <div class="col-md-1 btn-task">
                    <button id="add" class="btn btn-default" type="submit">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
