<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/external/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/external/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/external/jquery/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/ajax.js}"></script>
</head>
<body>
<div th:replace="header :: header"></div>
<div id="content" class="container">
    <h2>Tasks</h2>
    <div class="container">
        <table id="table" border="1">
            <tr>
                <th>Task</th>
                <th>Adding date</th>
                <th>Last time updated</th>
                <th>Done at</th>
            </tr>

            <tr th:id="task" th:each="task : ${tasks}">
                <td th:text="${task.description}"></td>
                <td th:text="${task.createdAt}"></td>
                <td th:text="${task.updatedAt}"></td>
                <td th:text="${task.doneAt}"></td>

                <td hidden="hidden" class="id" th:text="${task.id}"></td>
                <form action="#" th:action="@{'/edit/' + ${task.id}}" method="get">
                    <td>
                        <button>Edit</button>
                    </td>
                </form>

                <form action="#" th:action="@{'/archive/' + ${task.id}}" method="get">
                    <td>
                        <button>Archive</button>
                    </td>
                </form>
                <td class="submit">
                    <button>Done</button>
                </td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>